<div id="about">
	<img src="/assets/author.jpg" alt="Author" class="m_left" />
	<h2>About <i>Diepriye</i></h2> 
	<p>This site was created for the sharing of articles and media within the community.
	The creator Diepriye Pokima Designed the website after undergrad, in order
	to potray his web design ability. It was designed to be simple yet well organised, creative
	 and secure. This site was built using both Ruby on rails and dreamweaver CS6. 
	 People interested in talking to the author can reach him by clicking <a href="/contact"> here</a>.</p>
</div>

<div id="social">
	<p align="center"> <a href="http://www.facebook.com/poksy" target="_blank">
		<img src="/assets/facebook.png" width="60" border="0" />
	</a>
	<img src="/assets/twitter.png" width="60" border="0" /></p>
</div>
