<ul class="thumbnails">
  <li class="span10">
    <div class="thumbnail">
	<img src="/assets/poksific.jpg" alt="design"></img>
	 <h3>Database Design for Poksific</h3>
      <p>Top level view of the design of poksific.</p>
    </div>
  </li>
 </ul>
