// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



/* MENU */
#menu_ul
{
  list-style-type:none;
  margin:0;
  padding:0;
  height:40px;
  overflow:hidden;
  text-align:center;
}

#menu_img{
  float:left;
}

#menu_li
{
  float:left;
  height:40px;
}

#done
{
  text-decoration:none;
  padding:0;
  padding-top:10px;
  border:0px;
  display:block;
  width:80px;
  height:40px;
  background-color:#000;
  text-align:center;
  /*text-align:center;*/
}

.alt{
  color:#FFF;
}

#logo_con{
  margin:0px;
  padding:0px;
  height: 40px;
  margin-left:25%;
  margin-right:auto;
}

#menu_li a:hover{
  background-color:#FFF;
  color:#000;
}

a{
  color:#603;
  height:40px;
}
a:hover{
  color:#F03;
}

#logos{
  width:100%;
  height: 40px;
  background-color:#000;
  padding:0px;
  margin:0px;
  overflow:hidden;
}

//about
.m_left{
  float:left;
  margin:10px;
}
#about{
  clear:both;
  /*background:#000;*/
}
#social{
  margin:10px;
  overflow:hidden;
  float:right;
}