// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



/* MENU */
// TODO: figure out why class can't be used where id is. that is in substitute.
// TODO: Id should not be used in multiple instances.
#menu_ul
{
  list-style-type:none;
  margin:0;
  padding:0;
  height:40px;
  text-align:center;
}

#menu_img{
  float:left;
}

#menu_li
{
  float:left;
  height:40px;
}

// TODO:menu ri is actually li 
#menu_ri
{
  float:right;
  height:40px;
}

#done
{
  text-decoration:none;
  padding:0;
  padding-top:10px;
  border:0px;
  display:block;
  width:80px;
  height:30px;
  background-color:#242223;
  text-align:center;
  /*text-align:center;*/
}

#search{
  padding-top:5px;
  height:30px;
}

li.right{
  float:right;
  //background-color:#000;
}

.alt{
  color:#FFF;
}

#logo_con{
  margin:0px;
  padding:0px;
  height: 40px;
  margin-left:25%;
  margin-right:auto;
}

.up_width{
  width:700px;
}

#menu_li a:hover{
  background-color:#FFF;
  color:#000;
}

//TODO:menu ri is menu li
#menu_ri a {
  background-color:#000;
}
#menu_ri a:hover{
  background-color:#242223;
  color:#000;
}

a:hover{
  color:#F03;
}
//Complete bar Holder
.logos
{
  width:100%;
  height: 40px;
  background-color:#000;
  padding:0px;
  margin:0px;
  //overflow:hidden; // prevents dropdown menu
}
#light
{
  background-color:#242223;
}

//about
.m_left{
  float:left;
  margin:10px;
}
#about{
  clear:both;
  /*background:#000;*/
}
#social{
  margin:10px;
  overflow:hidden;
  float:right;
}