<a href= <%= "/uploads/#{@art.id}" %>>
<img src= <%= "/assets/rails.png" %> alt=''></img>
  <h3><%= truncate( @art.title , :length =>18 , :separator => ' ' )  %></h3>
  <p>by: <%= render "uploads/art" %> </p>
</a>