<% @v_upload.each do |vid| %>

	<li class="span3">
		<a href= <%= "/uploads/#{vid.id}" %>>
		<div class="thumbnail">
		  <img src= <%= "http://img.youtube.com/vi/#{vid.embedid}/0.jpg" %> alt=''>
		  <%
		  		title = vid.title + "               "
		  		about = vid.about + "               "
		  %>
		  <h3><%= title[0,15] %></h3>
		  <p><%= about[0,33] %></p>
		</div>
		</a>
	</li>
<% end %>
