<div class="logos">
	<a href="/"><img alt="logo" src="/assets/pi_logo.jpg" width="100px" height="40px" id="menu_img"/></a>
	<div id="logo_con" class="up_width">
		

		<ul id="menu_ul">
			<li id="menu_ri">		 
			    <form class="form-search" id = "search">
				    <input type="text" class="input-medium search-query">
				    <button type="submit" class="btn">Search</button>
			    </form>
				</li>
			<li id="menu_ri"><a id="done" href="/about"><b>About</b></a></li>
		</ul>
	</div>
</div>