<div class="logos">
	<a href="/"><img alt="logo" src="/assets/pi_logo.jpg" width="100px" height="40px" id="menu_img"/></a>
	<div id="logo_con" class="up_width">
		

		<ul id="menu_ul">
			<li id="menu_ri">		 
				<%= form_tag('/search', class: "form-search", id: "search"  ) do %>
				<input type="text" name="search",  placeholder="Search..." class="input-medium search-query">
				<%= submit_tag "Search", class: "btn" %>
				<% end %>
		

			</li>
			<li id="menu_ri"><a id="done" href="/about"><b>About</b></a></li>
		</ul>
	</div>
</div>